{% load static %}
<div class="container pt-5">
    <footer class="text-start">
      <div class="row align-items-start">
        <div class="col-md">
          <a class="nav-link active" aria-current="page" href="#"><img class="mx-4" src="{% static './img/letter-a (2).png' %}" alt="" width="50px" height="50px"></a>
          <small class="d-block mb-3 text-body-secondary">©2023 AMANI STORE</small>
        </div>
        <div class="col-md">
          <h5>Suporte</h5>
          <ul class="list-unstyled text-small fs-6">
            <li><a class="link-secondary text-decoration-none" href="#">Número</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Feedback</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Ajuda</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Gmail</a></li>
          </ul>
        </div>
        <div class="col-md">
          <h5>Produtos</h5>
          <ul class="list-unstyled text-small fs-6">
            <li><a class="link-secondary text-decoration-none" href="#">Business</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Education</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Government</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-md">
          <h5>Sobre</h5>
          <ul class="list-unstyled text-small fs-6">
            <li><a class="link-secondary text-decoration-none" href="#">Equipe</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Localização</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Privacidade</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Depoimentos</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Termos de Uso</a></li>
          </ul>
        </div>
      </div>
  </footer>
</div>